body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  flex-direction: column;
  gap: 20px;
}

form {
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 10px;
}

p {
  background-color: lightgreen;
  border: 1px solid black;
  padding: 10px;
}
